{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-controller="taskCtrl">
    <div class="row-fluid title">
        <a style="float: right" href="/process/detail/{{process_id}}" class="btn btn-info">
            <span aria-hidden="true"></span>返回
        </a>

        <h3 id="example-heading-new">创建安装任务</h3>
    </div>

    <div class="row">
        <div class="col-md-12" style="height: 400px;overflow-y: auto">
            <table class="table">

                <tbody>
                <tr ng-repeat="tr in task.subtask">
                    <td>((tr.ip))</td>
                    <td>((tr.user))</td>
                    <td>((tr.password))</td>
                    <td><a href="javascript:void(0)" ng-click="remove( (($index)) )">删除</a></td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="目标IP" class="form-control" ng-model="target.ip"></td>
                    <td><input type="text" placeholder="登录用户" class="form-control" ng-model="target.user"></td>
                    <td><input type="text" placeholder="登录密码" class="form-control" ng-model="target.password"></td>
                    <td>
                        <button ng-if="!testing"  class="btn btn-default" ng-click="add_target()">添加</button>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        <br/>

        <div class="col-md-12">
            <button class="btn btn-large btn-block btn-info" ng-click="create_task()" type="button">创建安装任务</button>
        </div>
    </div>

</div>

{%endblock%}

{% block script %}
<script>
    var id = '{{process_id}}';
    App.controller("taskCtrl", function ($scope, $http) {
        $scope.task = {process_id: id, status:0, subtask: []};
        $scope.target;
        $scope.testing=false;
        $scope.add_target = function () {
            if (!valueCheck()) {
                return false
            }
            $scope.testing=true;
            var param = {target: $scope.target};
            $http.post('/post/test/connection', param).success(function (data) {
                if (response_check(data)) {
                    ip_set.push($scope.target.ip)
                    $scope.task.subtask.push($scope.target);
                    init();
                    $scope.testing=false;
                }
            }).error(function () {
                console.log("连接错误");
                $scope.testing=false;
            });
        }

        $scope.remove = function (index) {
            ip_set.splice(index,1)
            delete $scope.task.subtask.splice(index,1);
        }

        $scope.create_task = function () {
            if ($scope.task.subtask.length == 0) {
                error.show("请填入目标机信息")
                return false;
            }
            $http.post('/post/create_task', $scope.task).success(function (data) {
                if (response_check(data)) {
                    if (data.result.id == null) {
                        error.show("保存出错")
                        return;
                    }
                    location.href = "/task/config/" + data.result.id
                }
            }).error(function () {
                console.log("数据加载出错");
            });
        }
        var ip_set=[];
        var valueCheck = function () {
            console.log(ip_set.indexOf($scope.target.ip))
            var status = true;
            if ($scope.target.ip == "") {
                error.show("请填入IP");
                return false
            }
            else if (!IpCheck($scope.target.ip)) {
                error.show("IP不合法");
                return false
            }else if (ip_set.indexOf($scope.target.ip)!=-1){
                error.show("IP重复");
                return false
            }else{

            }

            if ($scope.target.user == "") {
                error.show("请填入登录用户");
                return false
            }

            return status
        }

        var init = function () {
            $scope.target = {
                ip: "",
                user: "",
                password: "",
                status: 0,
                log: ""
            }
        }
        init();
    });

</script>
{% endblock %}