{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-controller="executeCtrl" style="min-height: 400px">

    <div class="row">
        <div class="col-md-5">
            <h4>目标机</h4>
            <div class="list-group" style="height: 450px;overflow-y: auto">
                <a href="#" class="list-group-item"
                   ng-repeat="t in target_list"
                   ng-click="target_click( ((t.id)) )"
                   ng-class="{'selected_target':selected==t.id,'':selected!=t.id,'list-group-item-success':t.status==1, 'list-group-item-info':t.status==0, 'list-group-item-danger':t.status==-1}">
                    <div class="col-md-4"><p class="list-group-item-text">((t.ip))</p></div>
                    <div class="col-md-8"><p class="list-group-item-text">((t.message))</p></div>
                    <br/>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <h4>控制台日志</h4>
            <div class="panel panel-default">
                <div class="panel-body console_window">
                    <div style="height: 450px;overflow-y: auto">
                        ((target_log))
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <br/>

    </div>

</div>

{%endblock%}

{% block script %}
<script>

    var id='{{task_id}}';
    var isDone=false
    App.controller("executeCtrl", function ($scope, $http) {
        $scope.target_list=[];
        $scope.target_log="";
        $scope.selected="";

        $scope.target_click=function(id){
            $scope.selected=id;
            get_target_log();
            console.log(id)

        }

        var get_target_list=function(){
            if(id!=null&&id!=""){
                $http.get('/get/task_list/detail/'+id).success(function(data){
                    $scope.target_list=data;
                }).error(function(){
                    console.log("数据加载出错");
                });
            }
        }

        var get_target_log=function(){
            if ($scope.selected != null && $scope.selected != "") {
                $http.get('/get/task/log/' + $scope.selected).success(function (data) {
                    $scope.target_log = data;
                }).error(function () {
                    console.log("数据加载出错");
                });
            }
        }
        get_target_list()
        window.setInterval(get_target_list,20000);
        window.setInterval(get_target_log,20000);
    });

</script>
{% endblock %}