{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-controller="executeCtrl" style="min-height: 400px">

    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">目标机</h3>
                </div>
                <table class="table">
                    <tbody>
                    <tr ng-repeat="st in subtask" style="cursor:pointer" ng-click="target_click( (($index)) )"
                        ng-class="{'selected_target':selected==st.ip,'list-group-item-success':st.status==100,
                   'list-group-item-warning':st.status==0, 'list-group-item-info':st.status==1, 'list-group-item-danger':st.status==-1}">
                        <td>
                            ((st.ip))
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">控制台日志</h3>
                </div>
                <div class="panel-body console_window">
                    <div style="height: 450px;overflow-y: auto">
                        ((target_log))
                    </div>
                </div>
            </div>
        </div>
        <br/>

    </div>

</div>

{%endblock%}

{% block script %}
<script>

    var id = '{{task_id}}';
    var isDone = false
    App.controller("executeCtrl", function ($scope, $http) {
        $scope.subtask = [];
        $scope.target_log = "";
        $scope.selected = "";

        $scope.target_click = function (index) {
            $scope.selected = $scope.subtask[index].ip;
            //get_target_log();
            $scope.target_log = $scope.subtask[index].log
            console.log($scope.subtask)
        }

        var get_target_list = function () {
            if (id != null && id != "") {
                $http.get('/get/subtask/status/' + id).success(function (data) {
                    if (response_check(data)) {
                        $scope.subtask = data.result.subtask;
                        console.log($scope.subtask)
                    }
                }).error(function () {
                    console.log("数据加载出错");
                });
            }
        }

        var get_target_log = function () {
            if ($scope.selected != null && $scope.selected != "") {
                var param = {task_id: id, ip: $scope.selected}
                $http.get('/post/task/log', param).success(function (data) {
                    if (response_check(data)) {
                        $scope.target_log = data.result;
                    }
                }).error(function () {
                    console.log("数据加载出错");
                });
            }
        }
        get_target_list()
        window.setInterval(get_target_list,20000);
        //window.setInterval(get_target_log,20000);
    });

</script>
{% endblock %}