<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #e9e9e9;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Auto Deploy</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="headerController">
                <li class="dropdown" ng-if="taskList.length>0">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        进行中的安装<span  class="badge" style="background-color:red">((taskList.length))</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-if="taskList.length==0"><span style="margin-left: 5px">没有运行的任务</span></li>
                        <li ng-repeat="task in taskList">
                            <a class="text-center" href="javascript:void(0)"ng-click="view_task( ((task.id)) , ((task.status)) )">
                                <span>任务号:((task.id))</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script>
    App.controller("headerController", function($scope,$http) {
        $scope.taskList=[];
        $scope.view_task=function(taskId,status){
            if(status==0){
                location.href = "/task/config/" + taskId
            }
            if(status==1){
                location.href = "/task/execute/" + taskId
            }
        };
        var get_taskList=function(){
            $http.get('/get/running/task').success(function(data){
                if(response_check(data)){
                    $scope.taskList = data.result;
                }
            }).error(function(){
                console.log("数据加载出错");
            });
        }
        get_taskList();
    });
</script>