{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-controller="processDetailCtrl">
    <div class="row-fluid title">
        <a style="float: right" href="/" class="btn btn-info">
            <span  aria-hidden="true"></span>返回
        </a>
        <h3 id="example-heading-new" >部署脚本:((details.name))</h3>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-default">
                <div class="panel-body main-content">
                    <table class="table  text-center">
                        <thead>
                        <tr >
                            <td style="font-size: 18px">
                                <b>安装顺序</b>
                            </td>
                            <td style="font-size: 18px">
                                <b>模块名称</b>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="mod in details.process">
                            <td>
                                (($index+1))
                            </td>
                            <td>
                                ((mod.name))
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-large btn-block btn-primary"  ng-if="isCanExecute" ng-click="execute()" type="button">执行安装</button>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-large btn-block btn-info"  ng-click="edit()" type="button">编辑流程</button>

        </div>
        <div class="col-md-6">
            <button class="btn btn-large btn-block btn-info"  ng-click="remove()" type="button">删除流程</button>
        </div>
    </div>

</div>
{%endblock%}

{% block script %}
<script>
    var id="{{process_id}}";
    App.controller("processDetailCtrl", function($scope,$http) {
        $scope.isCanExecute=true;
        $scope.remove=function(){
            if(window.confirm("确定删除？")){
                var data={"id":id};
                $http.post('/post/deleteProcess',data).success(function(data){
                    if(response_check(data)){
                        window.location="/";
                    }
                }).error(function(){
                    alert("系统错误删除失败,请联系管理员")
                    console.log("删除失败");
                });
            }else{
                return;
            }
        }

        $scope.edit=function(){
            window.location="/process/edit/"+id;
        }

        $scope.execute=function(){
            window.location="/task/create/"+id;
        }

        var get_details=function(){
            $http.get('/get/processDetail/'+id).success(function(data){
                if(!response_check(data)){
                    $scope.isCanExecute=false;
                }
                $scope.details = data.result;
            }).error(function(){
                console.log("数据加载出错");
            });
        }
        get_details();
    });
</script>
{% endblock %}