{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-controller="processEditCtrl">
    <div class="row-fluid title">
        <a style="float: right" href="/" class="btn btn-info">
            <span aria-hidden="true"></span>返回
        </a>
        <input type="text" class="form-control" style="width: 300px" placeholder="请命个名呗"
               aria-describedby="sizing-addon1" ng-model=" details.name"/>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body main-content">
                    <div style="height: 350px;overflow-y: auto">
                        <table class="table  text-center">
                            <thead>
                            <tr>
                                <td>
                                    <b>模块名称</b>
                                </td>
                                <td>
                                    <b>版本号</b>
                                </td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="scr in scripts">
                                <td>
                                    ((scr.name))
                                </td>
                                <td>
                                    ((scr.version))
                                </td>
                                <td><a href="javascript:void(0)"
                                       ng-click="add_script( ((scr.id)),((scr.name)),((scr.version)) )"> 添加</a></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <br/>

                    <div class="input-group">
                        <input type="text" placeholder="Search for..." class="form-control" ng-model="keyword" ng-keyup="keyup_search($event)">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="search_scripts()">Search</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" style="min-height: 400px;background-color:#eee">
                    <div style="height: 350px;overflow-y: auto">
                        <table class="table  text-center">
                            <thead>
                            <tr>
                                <td></td>
                                <td>
                                    <b>序号</b>
                                </td>
                                <td>
                                    <b>模块名称</b>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="pcs in details.process">
                                <td><a href="javascript:void(0)" ng-click="remove( (($index)) )">移除</a></td>
                                <td>
                                    (($index+1))
                                </td>
                                <td>
                                    <a href="javascript:void(0)" ng-if="((pcs.name=='检查点'))"
                                       ng-click="edit_checkpoint( (($index)) )">((pcs.name))</a>
                                    <span ng-if="((pcs.name!='检查点'))">((pcs.name))</span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <br/>

                    <div class="input-group" style="width:100%">
                        <button class="btn  btn-block btn-default" ng-click="edit_checkpoint()" type="button">添加检查点
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-large btn-block btn-primary" ng-click="save_process()" type="button">保存</button>
        </div>
    </div>
</div>
{% include "include/checkpoint_edit.html"%}
{%endblock%}

{% block script %}
<script>
    var id = "{{process_id}}";
    App.controller("processEditCtrl", function ($scope, $http) {
        $scope.scripts = [];
        $scope.details = {id:null,name:"",process:[]};
        $scope.keyword = "";

        $scope.save_process = function () {
            if (!value_check()) {
                return false
            }
            ;//数据检查
            $http.post('/post/save_process', $scope.details).success(function (data) {
                if (response_check(data)) {
                    location.href = "/"
                }
            }).error(function () {
                console.log("服务器连接失败");
            });
        }

        $scope.remove = function (index) {
            $scope.details.process.pop(index);
        }

        $scope.add_script = function (id, name, ver) {
            var data = {"id": id, "name": name + " " + ver}
            $scope.details.process.push(data)
        }

        $scope.search_scripts = function () {
            var param = {"keyword": $scope.keyword}
            $http.post('/post/search_scripts', param).success(function (data) {
                if(response_check(data)){
                    $scope.scripts = data.result;
                }
            }).error(function () {
                console.log("数据加载出错");
            });
        }

        $scope.keyup_search = function(e){
            var keycode = window.event?e.keyCode:e.which;
            if(keycode==13){
                $scope.search_scripts()
            }
        };

        $scope.edit_checkpoint = function (index) {
            var data =  $scope.details.process[index];
            Bus.broadcast("open_checkpoint_modal", [data])
        }

        var save_checkpoint = function (checkpoint) {
            $scope.details.process.push(checkpoint)
        }
        Bus.regEvent("save_checkpoint", save_checkpoint)

        var value_check = function () {
            var status = true;
            if ( $scope.details.name.trim() == "") {
                alert("请填写名字")
                status = false;
            }
            if ( $scope.details.process == null ||  $scope.details.process.length == 0) {
                alert("请选择安装流程")
                status = false;
            }
            return status;
        }

        var get_details=function(){
            console.log(id)
            if(id==null||id=='')return;
            $http.get('/get/processDetail/'+id).success(function(data){
                if(response_check(data)){
                    $scope.details = data.result;
                }
            }).error(function(){
                console.log("数据加载出错");
            });
        }

        get_details();
        $scope.search_scripts();
    });

</script>
{% endblock %}