{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-controller="scriptCtrl">
    <div class="row-fluid title">
        <a style="float: right" href="/script/overview" class="btn btn-info">
            <span aria-hidden="true"></span>返回
        </a>

        <h3 id="example-heading-new">脚本信息</h3>
    </div>

    {% include "include/script_info.html"%}
    {% include "include/script_detail.html"%}

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>

                    <div class="input-group" style="width: 200px;float: right">
                        <input type="text" placeholder="模块名称" class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default">Search</button>
                            </span>
                    </div>
                    <h4>脚本</h4>
                </div>
            </div>
            <div class="modal-body" style="font-size: 20px">
                开发中....
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{% block script %}
<script>
    var id='{{id}}';
    App.controller("scriptCtrl", function ($scope, $http) {
        $scope.detail;
        $scope.edit_script=function(){
            $("#base_info").slideToggle(400,function(){
                $("#detail").slideToggle(400);
            });

        }
        var get_detail = function () {
            if(id!=''){
                $http.get('/get/script_detail/'+id).success(function (data) {
                    $scope.detail = data;
                }).error(function () {
                    console.log("数据加载出错");
                });
            }else{
                $scope.detail = {
                    name:"",
                    version:"",
                    description:"",
                    dependents:[],
                    script:""
                };
            }

        }
        get_detail();
    });

</script>
{% endblock %}