{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid title">
        <a style="float: right" href="/" class="btn btn-info">
            <span aria-hidden="true"></span>返回
        </a>
        <h3 id="example-heading-new" >安装脚本</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body main-content" style="">
                    <div style="height: 350px;overflow-y: auto">
                        <table class="table  text-center">
                            <thead>
                            <tr>
                                <td width="40%">
                                    <b>模块名称</b>
                                </td>
                                <td width="40%">
                                    <b>版本号</b>
                                </td>
                                <td></td>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    JDK
                                </td>
                                <td>
                                    1.7
                                </td>
                                <td><a href="#"> 编辑</a><a href="#"> 删除</a></td>

                            </tr>

                            <tr>
                                <td>
                                    JDK
                                </td>
                                <td>
                                    1.5
                                </td>
                                <td><a href="#"> 编辑</a><a href="#"> 删除</a></td>
                            </tr>
                            <tr>
                                <td>
                                    MySql
                                </td>
                                <td>
                                    2.0
                                </td>
                                <td><a href="#"> 编辑</a><a href="#"> 删除</a></td>
                            </tr>
                            <tr>
                                <td>
                                    MySql
                                </td>
                                <td>
                                    2.0
                                </td>
                                <td><a href="#"> 编辑</a><a href="#"> 删除</a></td>
                            </tr>
                            <tr>
                                <td>
                                    MySql
                                </td>
                                <td>
                                    2.0
                                </td>
                                <td><a href="#"> 编辑</a><a href=“javascript:confirm('您确定要删除吗?')”> 删除</a></td>
                            </tr>
                            <tr>
                                <td>
                                    MySql
                                </td>
                                <td>
                                    2.0
                                </td>
                                <td><a href="#"> 编辑</a><a href="#"> 删除</a></td>
                            </tr>
                            <tr>
                                <td>
                                    MySql
                                </td>
                                <td>
                                    2.0
                                </td>
                                <td><a href="#"> 编辑</a><a href="#"> 删除</a></td>
                            </tr>
                            <tr>
                                <td>
                                    MySql
                                </td>
                                <td>
                                    2.32
                                </td>
                                <td>
                                    <a href="/script/edit/mysql"> 编辑</a>
                                    <a href="javascript:void(0)" onclick="delete_confirm()"> 删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br/>

                    <div class="input-group">
                        <input type="text" placeholder="Search for..." class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default">Search</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-large btn-block btn-info" type="button">新建脚本</button>
        </div>
    </div>

</div>
{%endblock%}
{% block script %}
<script>
    function delete_confirm()
    {
        if(window.confirm('你确定？！')){
            alert("别后悔");
        }else{
            return false;
        }
    }
</script>
{% endblock %}