{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-controller="scriptCtrl">

    {% include "include/script_info.html"%}
    {% include "include/script_detail.html"%}

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>

                    <div class="input-group" style="width: 200px;float: right">
                        <input type="text" placeholder="模块名称" class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default">Search</button>
                            </span>
                    </div>
                    <h4>脚本</h4>
                </div>
            </div>
            <div class="modal-body" style="font-size: 20px">
                开发中....
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{% block script %}
<script>
    var id='{{id}}';
    App.controller("scriptCtrl", function ($scope, $http) {
        $scope.detail;

        $scope.save_script=function(){
            if(!$scope.valueCheck()){
                return false;
            }
            $http.post('/post/save/script',$scope.detail).success(function (data) {
                if(response_check(data)){
                    location.href="/script/overview"
                }
            }).error(function () {
                console.log("数据加载出错");
            });

        }

        $scope.edit_script=function(){
            if($scope.detail.name=='' || $scope.detail.version==''){
                alert("请填入 “模块名称” 和 “版本号”")
                return;
            }
            $("#base_info").slideToggle(400,function(){
                $("#detail").slideToggle(400);
            });

        }
        $scope.back=function(){
            $("#detail").slideToggle(400,function(){
                $("#base_info").slideToggle(400);
            });

        }
        $scope.valueCheck=function(){
            if($scope.detail.script.type=='expect'){
                alert("暂时不能使用Expect脚本")
                return false;
            }
            if($scope.detail.script.bash_shell==''){
                alert("请输入脚本内容")
                return false;
            }
            return true;
        }

        var get_detail = function () {
            if(id!=''){
                $http.get('/get/script_detail/'+id).success(function (data) {
                    if(response_check(data)){
                        $scope.detail = data.result;
                    }
                }).error(function () {
                    console.log("数据加载出错");
                });
            }else{
                $scope.detail = {
                    name:"",
                    version:"",
                    description:"",
                    dependents:[],
                    script:{type:"bash",bash_shell:"",expect_shell:""},
                    checkList:[]
                };
            }

        }
        get_detail();
    });

</script>
{% endblock %}