{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-controller="taskCtrl">
    <div class="row-fluid title">
        <h3 id="example-heading-new">任务配置</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span style="color: red">全局变量的值会作用于所有的被安装机器，如果有特殊需要请点击目标机的IP，修改具体的参数。</span>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body main-content" style="height: 450px;overflow-y: auto">
                    <div class="list-group">
                        <table class="table">
                            <thead>
                            <tr style="cursor:pointer" ng-click="target_click('all')">
                                <td><span ng-class="{'selected_target':selected=='all'}">全局变量</span></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="t in task.subtask" style="cursor:pointer" ng-click="target_click( (($index)) )">
                                <td><span ng-class="{'selected_target':selected== $index }">((t.ip))</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body main-content" style="height: 450px;;overflow-y: auto">
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="20%">变量名</th>
                            <th width="50%">所属脚本</th>
                            <th width="30%">值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in param_list">
                            <td>((param.name))</td>
                            <td>((param.desc))</td>
                            <td><input ng-model="param.value" class="form-control"></td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <button class="btn btn-large btn-block btn-info" ng-click="submit()" type="button">开始安装</button>
        </div>
    </div>

</div>

{%endblock%}

{% block script %}
<script>
    var id = '{{task_id}}';
    App.controller("taskCtrl", function ($scope, $http) {
        $scope.param_list = [];
        $scope.task={};
        $scope.selected = "all";
        $scope.target_click = function (t) {
            $scope.selected = t;
            if(t!='all'){
                if($scope.task.subtask[t]['params']==null){
                    $scope.task.subtask[t]['params'] = jQuery.extend(true, [],  $scope.task.params);
                }
                $scope.param_list= $scope.task.subtask[t].params;
            }else{
                $scope.param_list= $scope.task.params;
            }
        }

        $scope.submit = function () {
            $http.post('/post/execute_task', $scope.task).success(function (data) {
                if (response_check(data)) {
                    location.href = "/task/execute/" + id;
                }
            }).error(function () {
                console.log("数据加载出错");
            });
        }

        var get_params = function () {
            $http.get('/get/process/params/' + $scope.task.process_id).success(function (data) {
                if (response_check(data)) {
                    if(data.length==0){
                        location.href = "/task/execute/" + id;
                        return
                    }
                    if($scope.task['params'] ==null){
                        $scope.task['params'] = jQuery.extend(true,[], data);
                    }
                    $scope.param_list= $scope.task.params;

                }
            }).error(function () {
                console.log("数据加载出错");
            });
        }

        var get_task = function () {
            $http.get('/get/task/' + id).success(function (data) {
                if (response_check(data)) {
                    $scope.task = data.result
                    get_params();
                }
            }).error(function () {
                console.log("数据加载出错");
            });
        }
        get_task();



    });
</script>
{% endblock %}