{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-controller="taskCtrl">
    <div class="row-fluid title">
        <a style="float: right" href="/task/create/{{process_id}}" class="btn btn-info">
            <span aria-hidden="true"></span>返回
        </a>

        <h3 id="example-heading-new">任务配置</h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="height: 400px;">
                <div class="panel-body main-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>变量名</th>
                                <th>作用域</th>
                                <th>值</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="param in param_list">
                                <td>((param.description))</td>
                                <td>((param.scope))</td>
                                <td><input ng-model="param.value" class="form-control"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <button class="btn btn-large btn-block btn-info" ng-click="submit()" type="button">开始安装</button>
        </div>
    </div>

</div>

{%endblock%}

{% block script %}
<script>
    var id = '{{task_id}}';
    App.controller("taskCtrl", function ($scope, $http) {
        $scope.param_list = [];
        $scope.submit = function () {
            var param = {"params": $scope.param_list, "taskId": id}
            $http.post('/post/save/taskParams', param).success(function (data) {
                if (data.status == -1) {
                    alert(data.message);
                } else {

                }
            }).error(function () {
                console.log("数据加载出错");
            });

        }
        var get_params = function () {
            $http.get('/get/task/params/' + id).success(function (data) {
                $scope.param_list = data;
            }).error(function () {
                console.log("数据加载出错");
            });
        }
        get_params()
    });
</script>
{% endblock %}