{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-controller="taskCtrl">
    <div class="row-fluid title">
        <a style="float: right" href="/task/create/{{process_id}}" class="btn btn-info">
            <span aria-hidden="true"></span>返回
        </a>

        <h3 id="example-heading-new">任务配置</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span style="color: red">全局变量的值会作用于所有的被安装机器，如果有特殊需要请点击目标机的IP，修改具体的参数。</span>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body main-content" style="height: 450px;overflow-y: auto">
                    <div class="list-group">
                        <table class="table">
                            <thead>
                            <tr style="cursor:pointer" ng-click="target_click('all')">
                                <td><span ng-class="{'selected_target':selected=='all'}">全局变量</span></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="t in target_list" style="cursor:pointer" ng-click="target_click( ((t)) )">
                                <td><span ng-class="{'selected_target':selected== t }">((t))</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body main-content" style="height: 450px;;overflow-y: auto">
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="20%">变量名</th>
                            <th width="50%">描述</th>
                            <th width="30%">值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in param_list">
                            <td>((param.name))</td>
                            <td>((param.description))</td>
                            <td><input ng-model="param.value" class="form-control"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-block btn-info" ng-click="save_param()">Save</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <button class="btn btn-large btn-block btn-info" ng-click="submit()" type="button">开始安装</button>
        </div>
    </div>

</div>

{%endblock%}

{% block script %}
<script>
    var id = '{{task_id}}';
    App.controller("taskCtrl", function ($scope, $http) {
        $scope.param_list = [];
        $scope.target_list = [];
        $scope.selected = "all";
        $scope.param_config = {};

        $scope.target_click = function (t) {
            $scope.selected = t;
            init();
        }

        $scope.save_param = function () {
            console.log($scope.param_list)
            $scope.param_config[$scope.selected] = $scope.param_list;
            console.log($scope.param_config)
        }

        $scope.submit = function () {
            if (!valueCheck()) {
                return false;
            }
            var param = {"params": $scope.param_config, "taskId": id}
            $http.post('/post/save/taskParams', param).success(function (data) {
                if (data.status == -1) {
                    alert(data.message);
                } else {
                    location.href = "/task/execute/" + id;
                }
            }).error(function () {
                console.log("数据加载出错");
            });
        }

        var valueCheck = function () {
            if ($scope.param_config.all == null) {
                alert("全局变量不能为空")
                return false;
            }
            return true;
        }

        var init = function () {
            $scope.param_list = param_template;
        }

        var param_template;
        var get_params = function () {
            $http.get('/get/task/params/' + id).success(function (data) {
                param_template = jQuery.extend(true, {}, data);
                $scope.param_list = data;
            }).error(function () {
                console.log("数据加载出错");
            });
        }

        var get_target_list = function () {
            $http.get('/get/target_list/' + id).success(function (data) {
                param_template = data;
                $scope.target_list = data;
            }).error(function () {
                console.log("数据加载出错");
            });
        }
        get_target_list();
        get_params()
    });
</script>
{% endblock %}