.title{
    margin-bottom: 20px;
}
.btn-large{
    height: 50px;
}
.main-content{
    min-height: 400px;background-color:#eee
}
.detail-textArea{
    border: 1px solid #ccc;
    height: 150px;
    width: 100%;
}
.btn-normal{
    background-color: #dddddd;
    min-width: 100px;
    margin:5px;
}
.br-20{
    margin-bottom:20px;
    margin-left:20px;
}
.width-100{
    width: 100%
}
.width-80{
    width: 80%
}
.check_point{
    background-color: #e3b100;
}
.selected_target{
    font-size: 24px;
}
.console_window{
    background-color:#0F0F10;
    color: #dddddd;
    border-radius: 5px;
}
