<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     ng-controller="checkpointCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4>检查点</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row br-20">
                    <div class="col-md-2">
                        检查对象
                    </div>
                    <div class="col-md-5">
                        <select class="width-100" ng-model="checkpoint.check_target.type">
                            <option value="all">全部机器</option>
                            <option value="custom">特定IP</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input ng-disabled="checkpoint.check_target.type!='custom'" type="text" class="width-100"
                               ng-model="checkpoint.check_target.value">
                    </div>
                </div>
                <div class="row br-20">
                    <div class="col-md-2">
                        检查内容
                    </div>
                    <div class="col-md-5">
                        <select class="width-100" ng-model="checkpoint.check_content.type">
                            <option value="success">执行成功</option>
                            <option value="fail">执行失败</option>
                            <option value="sendback">返回消息内容</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input ng-disabled="checkpoint.check_content.type!='sendback'" type="text" class="width-100"
                               ng-model="checkpoint.check_content.value">
                    </div>
                </div>
                <div class="row br-20">
                    <div class="col-md-2">
                        执行操作
                    </div>
                    <div class="col-md-5">
                        <select class="width-100" ng-model="checkpoint.execute.type">
                            <option value="continue">继续执行</option>
                            <option value="end">终止执行</option>
                        </select>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    App.controller("checkpointCtrl", function ($scope) {
        $scope.checkpoint;

        $scope.save = function () {
            if ($scope.checkpoint.is_new) {
                Bus.broadcast("save_checkpoint", [$scope.checkpoint])
            }
            $('#myModal').modal('hide')
        }

        var init_checkpoint = function (data) {
            if (data != null) {
                $scope.checkpoint = data;
                $scope.checkpoint.is_new = false;
            }
            else {
                $scope.checkpoint = {
                    is_new: true,
                    name: "检查点",
                    check_target: {type: 'all', value: ''},
                    check_content: {type: 'success', value: ''},
                    execute: {type: 'continue', value: ''},
                }
            }
            $('#myModal').modal('show')
        }
        Bus.regEvent("open_checkpoint_modal", init_checkpoint)

    });
</script>